<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Platform for Lovers of Literature. Discover Your Next Adventure.">
  <meta name="keywords" content="playlist, books, curated">
  <title>BookIt! Book</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="bookpage.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Playfair+Display+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
  <header>
    <section id="logo">
      <a href="/"><img src="images/booksWhiote.png" alt="BookIt! Logo"></a>
    </section>
    <section id="dropdown">
      <div class="">
        <a href="/profile"><input type="button" name="" value="PROFILE"></a>
        <a href="/fave"><input type="button" name="" value="FAVORITES"></a>
      </div>
    </section>
  </header>
  <section id="hero">
    <div class="displayBook">
      <div class="top">
        <img src="" alt="" id="bookImage">
        <section id="rightPanel">
          <h2 class="bTitle">Book Title</h2>
          <h3 class="bAuthor">Author</h3>
          <div class="buttons">
            <input class="fave button" type="button" value="Favorite">
            <a href="#" class="purchase" target="_blank"><input class="button" type="button" value="Purchase Link"> </a>
          </div>
        </section>
      </div>
      <div class="bottom">
        <p class="largeText description"></p>
      </div>
    </div>


  </section>
  <script type="text/javascript" src="bookpage.js"></script>
</body>
</html>
