<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Your description goes here">
  <meta name="keywords" content="playlist, books, curated">
  <title>BookIt! Book</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="bookpage.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Playfair+Display+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
  <header>
    <section id="logo">
      <a href="/"><img src="images/booksWhiote.png" alt="BookIt! Logo"></a>
    </section>
    <section id="dropdown">
      <div class="">
        <a href="/profile"><input type="button" name="" value="PROFILE"></a>
        <a href="/fave"><input type="button" name="" value="FAVORITES"></a>
      </div>
    </section>
  </header>
  <section id="hero">
    <section>
      <section class="top">
        <section id="leftPanel">
          <h2 class="bTitle">Book Title</h2>
          <h3 class="bAuthor">Author</h3>
          <div class="fave">
            <img class="faveIcon" src="images/bookheart.png" alt="favorite book">
            <p>Favorite</p>
          </div>
          <a href="#" class="purchase fave"><p >Purchase Link</p></a>
        </section>
        <section id="rightPanel">
          <section id="book">
            <img src="" alt="" id="bookimage">
          </section>
        </section>
      </section>
      <section class="bottom">
        <span>Description:</span>
        <p class="largeText description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
    </section>
  </section>
  <script type="text/javascript" src="bookpage.js"></script>
</body>
</html>
