<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="playlist, books, curated">
    <title>BookIt! Sign Up-Interests</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="fave.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Playfair+Display+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  </head>
  <body>
    <ul>
      <% for (let i = 0; i < favorites.length; i++) { %>
        <li>
          <img src="<%= favorites[i].bookImg %>" alt="">
          <span> <%= favorites[i].bookTitle %></span>
					<span><%=favorites[i].bookAuthor %></span>
          <span class="hide"><%=favorites[i]._id %></span>
          <span><i class="fa fa-trash" aria-hidden="true"></i></span>
        </li>
      <% } %>
    </ul>
  </body>
  <script type="text/javascript" src="fave.js"></script>
</html>
