<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="playlist, books, curated">
    <title>BookIt! Sign Up-Interests</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="interests.css">
		<link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Playfair+Display+SC&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>


  <section id="leftPanel">
    <h1><img src="./images/booksPurple.png" alt="BookIt! Logo"> </h1>
    <p><span>Oh!</span></p>
    <p>The Places You'll Go</p>
    <img id="audioGirl" src="images/audiogirl.png" alt="Audio Girl">
  </section>
  <section id="rightPanel">
    <div class="container">
      <header>
        <ol>
          <li id="accountStep">ACCOUNT</li>
          <li><img src="images/purpleplane.png" alt=""></li>
          <li id="interestStep">INTERESTS</li>
        </ol>
      </header>
      <p>Did we get it right? Add or remove any genres listed.</p>
      <form id="listInput" action="/interests" method="post">
        <input id="listItem" type="text" name="genre">
        <button id="addToList">Add</button>
      </form>
      <ul class="messages">
        <% for(var i=0; i< genre.length; i++) {%>
          <li>
            <span><i class="far fa-times-circle"></i></span>
            <span><%= genre[i].genre%></span>
          </li>
        <% } %>
      </ul>

      <button href="/profile" id="nextButton" type="submit">SUBMIT</button>
    </div>
  </section>
  </section>

</body>
</html>
