<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Platform for Lovers of Literature. Discover Your Next Adventure.">
  <meta name="keywords" content="playlist, books, curated">
  <title>BookIt! Sign Up-Interests</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="interests.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Playfair+Display+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>
<body>
  <section id="leftPanel">
    <h1><img src="./images/booksPurple.png" alt="BookIt! Logo"> </h1>
    <p><span>Oh!</span></p>
    <p>The Places You'll Go</p>
    <img id="audioGirl" src="images/audiogirl.png" alt="Audio Girl">
  </section>
  <section id="rightPanel">
    <div class="container">
      <header>
        <ol>
          <li id="accountStep">ACCOUNT</li>
          <li><img src="images/purpleplane.png" alt=""></li>
          <li id="interestStep">INTERESTS</li>
        </ol>
      </header>
      <p>Select the genres you love most.</p>
      <form id="listInput" user-id="<%=userId%>">
        <div class="">
          <input type="checkbox" "<%if(genres.romance){%> checked=true <%}%>" name="genre" value="romance">
            <label for="romance">Romance</label>
          <input type="checkbox" "<%if(genres.mystery){%> checked=true <%}%>" name="genre" value="mystery">
            <label for="mystery">Mystery</label>
          <input type="checkbox" "<%if(genres.fantasy){%> checked=true <%}%>" name="genre" value="fantasy">
            <label for="fantasy">Fantasy</label>
        </div>
        <div class="">
          <input type="checkbox" "<%if(genres.science-fiction){%> checked=true <%}%>" name="genre" value="science-fiction">
            <label for="science-fiction">Science Fiction</label>
          <input type="checkbox" "<%if(genres.thriller){%> checked=true <%}%>" name="genre" value="thriller">
            <label for="thriller">Thriller</label>
          <input type="checkbox" "<%if(genres.juvenile){%> checked=true <%}%>" name="genre" value="juvenile">
            <label for="juvenile">Young Adult</label>
        </div>
        <div class="">
          <input type="checkbox" "<%if(genres.nonfiction){%> checked=true <%}%>" name="genre" value="nonfiction">
          <label for="nonfiction">Non-Fiction</label>
          <input type="checkbox" "<%if(genres.fiction){%> checked=true <%}%>" name="genre" value="fiction">
          <label for="fiction">Fiction</label>
          <input type="checkbox" "<%if(genres.selfhelp){%> checked=true <%}%>" name="genre" value="selfhelp">
          <label for="selfhelp">Self-Help</label>
        </div>
        <button id="nextButton" type="submit">SUBMIT</button>
      </form>
    </div>
  </section>
  </section>
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/xml-js@1.6.11/lib/index.min.js"></script> -->
  <script type="text/javascript" src="main.js"></script>
</body>
</html>
