<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Your description goes here">
    <meta name="keywords" content="playlist, books, curated">
    <title>Made For You</title>
    <link rel="stylesheet" href="normalize.css">
<<<<<<< HEAD:views/profile.ejs
    <link rel="stylesheet" href="profile.css">
=======
    <link rel="stylesheet" href="playlist.css">
>>>>>>> f0d2bb74fce955e301d6415c111117868cb0e9b6:playlist4.html
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:500,600,700,700i|Playfair+Display:500,600,700,700i|Playfair+Display+SC:500,600,700,700i&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <section id="logo">
        <img src="images/booksPurple.png" alt="BookIt! Logo">
      </section>
      <section id="dropdown">
        <label for="options-select">Made For You: </label>
        <select name="options" id="options-select">
          <option value="books">Books</option>
          <option value="audiobooks">Audio Books</option>
          <option value="podcasts">Podcast</option>
        </select>
      </section>
    </header>
    <div class="hero">
      <section class="mainSec" id="genre1">
        <div class="circleDiv">
          <section class="circle">
            <p>4/5</p>
          </section>
        </div>
        <div class="recommendDiv">
          <section class="recommend">
<<<<<<< HEAD:views/profile.ejs
            <p>
              <ul>
                <li><%= goodreads[0].best_book.title._text %></li>
              </ul>
            </p>
=======
            <p>BOOK PREVIEW</p>
>>>>>>> f0d2bb74fce955e301d6415c111117868cb0e9b6:playlist4.html
          </section>
          <section class="recommend">
            <p>BOOK PREVIEW</p>
          </section>
        </div>
        <div class="topicDiv">
          <section class="topic">
            <h3>TOPIC</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </section>
        </div>
      </section>
      <section class="mainSec" id="genre2">
        <div class="topicDiv">
          <section class="topic">
            <h3>TOPIC</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </section>
        </div>
        <div class="recommendDiv">
          <section class="recommend">
            <p>BOOK PREVIEW</p>
          </section>
          <section class="recommend">
            <p>BOOK PREVIEW</p>
          </section>
        </div>
        <div class="circleDiv">
          <section class="circle">
            <p>2/5</p>
          </section>
        </div>
      </section>
      <section class="mainSec" id="genre3">
        <div class="circleDiv">
          <section class="circle">
            <p>1/5</p>
          </section>
        </div>
        <div class="recommendDiv">
          <section class="recommend">
            <p>BOOK PREVIEW</p>
          </section>
          <section class="recommend">
            <p>BOOK PREVIEW</p>
          </section>
        </div>
        <div class="topicDiv">
          <section class="topic">
            <h3>TOPIC</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </section>
        </div>
      </section>

      <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/xml-js@1.6.11/lib/index.min.js"></script> -->
    </div>
  </body>
</html>
