<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="description" content="Your description goes here">
      <meta name="keywords" content="playlist, books, curated">
      <title>BookIt! Sign Up</title>
      <link rel="stylesheet" href="css/normalize.css">
  		<link rel="stylesheet" href="signup.css">
  		<link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Playfair+Display+SC&display=swap" rel="stylesheet">
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    </head>
  <body>

  <!-- SIGNUP FORM -->


  <section id="leftPanel">
    <a href="/"><h1><img src="images/booksWhiote.png" alt="BookIt! Logo"></h1></a>
    <p><span>Oh!</span></p>
    <p><strong>The Places You'll Go</strong></p>
    <img id="audioGirl" src="images/audiogirl.png" alt="Audio Girl">
  </section>
  <section id="rightPanel">
    <header>
      <h2 id="accountStep"><strong>Create An Account</strong></h2>
    </header>
    <div class="container">
      <form action="/signup" method="post">
        <p>Create an account to discover your next great read.</p>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" value="">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" value="">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="">
        <button type="submit">NEXT</button>
      </form>
    <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </section>

  </body>
</html>
