/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 10px;
     line-height: 1.4;
     font-family: "Lato", Arial, sans-serif;
     background: linear-gradient(360deg, rgba(25,13,41,1) 39%, rgba(33,14,59,1) 80%, rgba(38,27,99,1) 100%);
     height: 100vh;
}


/******************************************
/* LAYOUT
/*******************************************/
/******************************************
/* HEADER
/*******************************************/
header{
  height: 10vh;
  display: flex;
  margin-right: 50px;
}
/******************************************
/* HERO SECTION
/*******************************************/
#hero{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10vh 20vw;
}
.top {
  display: flex;
  width: 50vw;
  justify-content: flex-start;
  align-items: flex-start;
}
/******************************************
/* LEFT PANEL
/*******************************************/
#rightPanel{
  display: flex;
  flex: 1;
  padding: 50px;
  justify-content: center;
  align-items: center;
}
#book{
  height: 20vh;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}
#book img{
  border-radius: 20px;
  box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.5);
}

/******************************************
/* RIGHT PANEL
/*******************************************/
#leftPanel{
  display: flex;
  flex-flow: column;
  color: white;
  flex: 1;
}
h2{
  font-size: 2.4rem;
}
h3{
  font-size: 1.4rem;
  line-height: 0;
  margin-top: 0;
}
p{
  font-size: 1.2rem;
}
.largeText{
  overflow: scroll;
}
.fave {
  font-size: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 10vw;
  background: rgb(121, 90, 140, .2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  transition: all .2s;
  animation: zoomin .5s;
}
.fave img {
  max-width: 2.5vw;
  height: 2.5vh;
  margin-right: 5px;
}
.fave p {
  font-size: .9vw;
  color: rgb(255, 255, 255, .90);
}
.fave:hover {
  background-color:rgb(209, 160, 238)
}
.bottom {
  color: white;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
