/******************************************
/* BASE STYLES
/*******************************************/

html{
  background: linear-gradient(360deg, rgba(25,13,41,1) 39%, rgba(33,14,59,1) 80%, rgba(38,27,99,1) 100%);

}
* {
  box-sizing: border-box;
}
body {
  color: rgba(255, 255, 255);
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* HEADER
/*******************************************/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(181,176,255, .15);
  height: 10vh;
  background: rgb(25, 25, 25, .2);
}
#logo img{
  height: 10vh;
  margin-left: 50px;
}
#logo {
  display: flex;
  flex: 2;
}

#dropdown {
  display: flex;
  flex-flow: column;
  flex: 3;
  align-items: center;
  font-size: 1.1vw;
  font-family: "Playfair Display";
  justify-content: space-between;
}
h1{
  margin: 0;
}
h2{
  text-align: center;
  font-size: 1.2vw;
  font-family: "Lato";
  color: rgba(255, 255, 255, .7);
  background: rgb(121, 90, 140, .1);
  margin: 0;
  padding: 10px 0;
}

#dropdown div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#dropdown a, #dropdown input{
  background: transparent;
  border-radius: 30px;
  margin-right: 20px;
}

#dropdown input{
  background: rgb(121, 90, 140, .2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  border: none;
  font-size: 2vh;
  font-family: "Lato";
  padding: 7px 20px;
  color: lightgrey;
}

#dropdown input:hover, .fave:hover{
  background-color:rgb(209, 160, 238)
}


/******************************************
/* HERO
/*******************************************/

.mainSec {
  display: flex;
}
.circleDiv {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  font-family: "Lato";
  border-radius: 100%;
  align-self: center;
}
h3{
  font-size: 4vh;
  text-shadow: 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
p{
  font-size: 1.7vh;
  color: rgb(145, 148, 150);
  line-height: 2.5vh;
}

#genre3 .circle {
  color: lightgrey;
}
.topicDiv {
  display: flex;
  justify-content: space-evenly;
  width: 33.333%;
}
.topic {
  width: 20vw;
  height: 25vh;
  align-self: center;
  font-family: "Lato";
  font-size: 1vh;
}
.recommendDiv {
  display: flex;
  width: 50.333%;
  height: 30vh;
  justify-content: space-evenly;
}
.recommend {
  width: 23vw;
  height: 25vh;
  border-radius: 15px;
  align-self: center;
  background: linear-gradient(#352d5740, rgba(0, 0, 0, 0));
  display: flex;
  padding-left: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.recommend a img {
  border-radius: 15px;
  box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.5);
}
.fave {
  font-size: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 8vw;
  background: rgb(121, 90, 140, .2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
  transition: all .2s;
  animation: zoomin .5s;
}
.fave img {
  max-width: 2.5vw;
  height: 2.5vh;
}
.fave p {
  font-size: .9vw;
  color: rgb(255, 255, 255, .90);
}
.title:hover{
  color: rgb(209, 160, 238);
}
.bookInfo{
  text-align: center;
  width: 45%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.title{
  color: rgb(255, 255, 255, .90);
  font-size: 1.2vw;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.author{
  color: rgb(255, 255, 255, .60);
  font-size: .9vw;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.bookInfo p {
  font-family: "Lato";
  margin: 9px;
}

#genre1, #genre2, #genre3{
  border-bottom: 1px solid rgb(181,176,255, .15);
}
#genre3 .topic, #genre3 .circle {
}
