/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
   font-size: 10px;
   display: flex;
   width: 100%;
   height: 100vh;
   margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* LEFT PANEL
/*******************************************/

h1 img{
  max-width: 40%;
}
#leftPanel {
  display: flex;
  flex-flow: column;
  flex: 1;
  background: rgba(65, 0, 244, 0.1);
  padding: 32px 24px 24px 24px;
  height: 100vh;
}

#leftPanel span{
  font-size: 3.5rem;
  font-family: "Playfair Display";
  color: rgba(65, 0, 244);
  line-height: 100px;
}
#leftPanel p {
  font-size: 2.5rem;
  font-family: "Lato";
  color: rgb(0,0,0);
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
}
#audioGirl {
  margin-top: 100px;
  width: 50%;
}

/******************************************
/* RIGHT PANEL
/*******************************************/
#rightPanel {
  display: flex;
  flex-flow: column;
  flex: 3;
}

#rightPanel .container {
  width: 80%;
  margin: 0 auto;
}

ol {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 20px;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Lato";
}
li img {
  width: 20%;
}
p {
  font-size: 1.4rem;
  font-family: "Lato";
}
#accountStep {
  text-shadow: 2px 2px rgba(65, 0, 244, .1);
}
#connect {
  margin-top: 20px;
}
#connect, #accountStep {
  color: rgba(65, 0, 244);
  font-weight: 600;
}
form {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-size: 1.2rem;
  font-family: "Lato";
  justify-content: center;
  align-content: center;
}
label {
  margin-bottom: 7px;
}
input {
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 12px;
}
button i {
  margin-right: 20px;
}
button {
  background: rgba(65, 0, 244);
  border-radius: 50px;
  font-size: 1rem;
  color: white;
  padding: 16px 0px 16px;
  transition-duration: 1s;
  width: 13%;
  align-items: flex-start;
  margin-bottom: 10px;
}

.socialButtons {
  font-size: 1rem;
  width: 43%;
  font-family: "Lato";
  border-radius: 50px;
  background: #D1A1EE;
  color: #fff;
  padding: 16px 48px 18px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
