/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 10px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: rgb(49,25,112);
     background: linear-gradient(35deg, rgba(47,25,78,1) 23%, rgba(54,37,158,1) 50%, rgba(121,58,208,1) 70%);
     height: 100vh;
}


/******************************************
/* LAYOUT
/*******************************************/
/******************************************
/* HEADER
/*******************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0,0,0, 0.2);

}
header section {
  display: flex;
  margin: 20px 30px 20px 0;
}
h1 {
  display: flex;
  flex: 3;
  margin: 0;
}

h1 img{
  max-width: 18%;
  margin-left: 83px;
}

#loginIcon {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: .7rem;
}

#loginIcon p {
  margin-bottom: 0;
  font-family: "Lato";
  font-size: .9rem;
}
a{
  text-decoration: none;
}

form {
  width: 100%;
}
input {
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-right: 20px;
  width: 90%;
  font-size: .8rem;
}
::placeholder{
  color: #432FDE;
}

/******************************************
/* HERO SECTION
/*******************************************/
#hero {
  display: flex;
  flex-grow: 1;
  position: relative;
  margin: 10px 50px;
}

/******************************************
/* LEFT PANEL
/*******************************************/
#leftPanel {
  display: flex;
  flex-flow: column;
  flex: 1;
  height: 70vh;
  margin-left: 50px;
}
#discoverMemo {
  font-size: 7rem;
  font-family: "Playfair Display";
  text-align: left;
  margin: 0;
  color: #fff;
  line-height: 125px;
}
#curatedMemo {
  font-size: 2rem;
  font-family: "Lato";
  line-height: 47px;
  text-align: left;
  color: #fff;
}

#leftPanel button {
  width: 80%;
  font-family: "Lato";
  font-size: 1.5rem;
  border-radius: 15px;
  background: #D1A1EE;
  color: #fff;
  padding: 7px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}
button i {
  margin-right: 20px;

}
button i:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, .4);
}

/******************************************
/* RIGHT PANEL
/*******************************************/
#rightPanel {
  display: flex;
  flex: 2;
  justify-content: center;
  background: url("images/Reader-on-Books.png") no-repeat center center / contain;
  padding: 20px;
}


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
